@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 w-12 
    m-1 shadow-lg 
    bg-beCode text-white hover:bg-vegasGold hover:text-white 
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max top-14
    rounded-md shadow-md
    text-white bg-beCodeLight
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .app-input{
    @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm  text-base focus:outline-none
    focus:ring-2 focus:ring-purple-600 focus:border-transparent 
  }

  .badge-false{
    @apply text-gray-300 mx-2 my-3
  }

  .badge-true{
    @apply text-vegasGold mx-2 my-3 animate-pulse
  }

  .badge-filter {
    @apply appearance-none
    block
    w-full
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding bg-no-repeat
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
  }

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
